NEXT_PUBLIC_SUPABASE_URL=https://qmkyherwtjkggglmdxjr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFta3loZXJ3dGprZ2dnbG1keGpyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDkyNDY4MzYsImV4cCI6MjA2NDgyMjgzNn0.9soS6k_eGu9xZ6M8fQuFswahNCYxIYYflrILG6SopGM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFta3loZXJ3dGprZ2dnbG1keGpyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTI0NjgzNiwiZXhwIjoyMDY0ODIyODM2fQ.KN9F1nG1wu4nE1H9fy9JHAqZ-q2dtxzE4YnJXFfJiWM